**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.pth
*.pkl
*.zip
*.bin
.history
output
annos
datasets
data_gen_logs
datasets_waymo
instrumentation
preds_final
preds_final_msf4
preds_final_msf8
preds_final_cp4f
LOP
metrics*/
pla
*.err
*.out
version.py
*.tfrecord
*.pkl
huggingface.sh
